<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Calorie Trcker App</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="{% static 'css/base.css' %}" rel="stylesheet">
      <!-- Style -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css'%}">

  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css'%}">

    <!-- Style -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
  <div class="site-mobile-menu">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>
  <header class="site-navbar" role="banner">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-11 col-xl-2"> 
          <a href={% url "home" %}><img src="{% static 'img/logo.svg' %}" alt="Logo" class="logo"></a>
        </div>
        <div class="col-12 col-md-10 d-none d-xl-block">
          <nav class="site-navigation position-relative text-right" role="navigation">
            <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
              <li class="active"><a {% if url_name == 'home' %} active{% endif %}" href={% url "home" %} "><span>Home</span></a></li>
              <li class="has-children">
                <a href=""><span>Manage</span></a>
                <ul class="dropdown arrow-top">
                  <li><a = {% if url_name == 'add_food' %} active{% endif %}" href={% url "add_food" %}>Add Food</a></li>
                  <li><a = {% if url_name == 'select_food' %} active{% endif %}" href={% url "select_food" %}>Select Food</a></li>
                  <li><a = {% if url_name == 'add_exercise' %} active{% endif %}" href={% url "add_exercise" %} >Add Exercise</a></li>
                  <li><a = {% if url_name == 'select_exercise' %} active{% endif %}" href={% url "select_exercise" %}>Select Exercise</a></li>
                  <li><a = {% if url_name == 'profile' %} active{% endif %}" href={% url "profile" %}>Your Profile</a></li> 
                </ul>
              </li>
              <li><a href=""><span>About</span></a></li>
              <li><a href=""><span>Blog</span></a></li>
              <li><a href=""><span>Contact</span></a></li>
              <li><a href="{% url "logout" %}"><span>Logout</span></a></li>
            </ul>
          </nav>
        </div>


        <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

        </div>

      </div>
    </div>
    
  </header>
        {% block content %}
        {% endblock content %}
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
 <script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.sticky.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>